{# the dashboard manager in the admin view #}

{% load i18n %}
{% block manage %}
  <div class="module manage">
   <table summary="{% trans "Common management operations." %}">
    <caption>{% trans "Manage" %}</caption>
    <tbody>
     <tr>
      <th scope="row"><a href="db/auth/user/">{% trans "Users" %}</a>
        <span class="count">({{user_count}})</span></th>
      <td><a class="addlink" href="db/auth/user/add/">{% trans "Add" %}</a></td>
     </tr>
     <tr>
      <th scope="row"><a href="db/reviews/group/">{% trans "Review groups" %}</a>
        <span class="count">({{reviewgroup_count}})</span></th>
      <td><a class="addlink" href="db/reviews/group/add/">{% trans "Add" %}</a></td>
     </tr>
     <tr>
      <th scope="row"><a href="db/reviews/defaultreviewer/">{% trans "Default reviewers" %}</a>
        <span class="count">({{defaultreviewer_count}})</span></th>
      <td><a class="addlink" href="db/reviews/defaultreviewer/add/">{% trans "Add" %}</a></td>
     </tr>
     <tr>
      <th scope="row"><a href="db/scmtools/repository/">{% trans "Repositories" %}</a>
        <span class="count">({{repository_count}})</span></th>
      <td><a class="addlink" href="db/scmtools/repository/add/">{% trans "Add" %}</a></td>
     </tr>
    </tbody>
   </table>
  </div>
{% endblock %}
