{% extends "base.html" %}
{% load djblets_deco %}
{% load i18n %}
{% block title %}{% trans "My Account" %}{% endblock %}

{% block content %}
<form method="post" action=".">
 {{form.redirect_to}}
{% box "prefsuser" %}
 <h1 class="title">{% trans "User Preferences" %}</h1>
 <div class="main">
  <table>
{% include "accounts/prefs/prefs_users.html" %}
  </table>
 </div>
{% endbox %}
{% if form.fields.groups.choices %}
{% box "prefsgroup" %}
 <h1 class="title">{% trans "Groups" %}</h1>
 <div class="main">
{% include "accounts/prefs/prefs_groups.html" %}
 </div>
{% endbox %}
{% endif %}
 <div class="prefsbuttons">
  <input type="submit" value="{% trans "Save Preferences" %}" />
 </div>
</form>

{% endblock %}
