{% load djblets_deco %}
{% load djblets_utils %}
{% load i18n %}

{% block content %}

<div id="headerbar">
 <ul id="accountnav">
{% include "base/base_header_links.html" %}
 </ul>
 <br />
 <div id="rbinfo">
{% include "base/base_banner.html" %}
 </div>
</div>
<div id="page-container">
{% if user.is_authenticated or not siteconfig.settings.auth_require_sitewide_login %}
 {% if siteconfig.settings.search_enable %}<form method="get" action="{% url search %}">{% endif %}
 <div id="navbar-outer">
  <ul id="navbar">
 {% if user.is_authenticated %}
   <li><a href="{% url dashboard %}">{% trans "My Dashboard" %}</a></li>
   <li><a href="{% url new-review-request %}">{% trans "New Review Request" %}</a></li>
   <li>-</li>
 {% endif %}
   <li><a href="{% url all-review-requests %}">{% trans "All review requests" %}</a></li>
   <li><a href="{% url all-groups %}">{% trans "Groups" %}</a></li>
   <li><a href="{% url all-users %}">{% trans "Submitters" %}</a></li>
 {% if siteconfig.settings.search_enable %}
   <li id="searchbar">
   <input type="text" name="q" {% attr "value" %}{{query}}{% endattr %} />
    <input type="submit" value="{% trans "Search" %}" />
   </li>
   {% endif %}
  </ul>
 </div>
 {% if siteconfig.settings.search_enable %}</form>{% endif %}
{% endif %}

{% endblock %}
