{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{title}} | {% trans "Review Board administration" %}{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}rb/css/admin.css?{{MEDIA_SERIAL}}" />
<link rel="icon" type="image/png" href="{{MEDIA_URL}}rb/images/favicon.png?{{MEDIA_SERIAL}}" />
{% endblock %}

{% block branding %}
{% include "admin/base_site/banner.html" %}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="{{SITE_ROOT}}admin/">{% trans "Home" %}</a> {% if title %} &rsaquo; {{ title|escape }}{% endif %}</div>
{% endblock %}

{% block nav-global %}
{%  if user.is_authenticated %}
<ul id="admin-nav">
{% include "admin/base_site/nav_list.html" %}
</ul>

{%   block subnavbar %}{% endblock %}
{%  endif %}
{% endblock %}
