{# dashboard server section #}
{% load i18n %}

<div class="module serverinfo">
 <table summary="{% trans "Server information." %}">
  <caption>{% trans "Server Information" %}</caption>
   <tbody>
    <tr>
     <th>{% trans "Review Board version" %}</th>
     <td>{{version}}</td>
    </tr>
    <tr>
     <th colspan="2"><a href="cache/">{% trans "Server Cache" %}</a></th>
    </tr>
{% if settings.LOGGING_ENABLED and settings.LOGGING_DIRECTORY %}
    <tr>
     <th colspan="2"><a href="{% url server-log %}">{% trans "Server Log" %}</a></th>
    </tr>
{% endif %}
  </tbody>
 </table>
</div>
