{# dashboard news component #}

{% load i18n %}

 <div class="module news">
  <table summary="{% trans "Latest Review Board news updates." %}">
   <caption>
    <span class="title">{% trans "News" %}</span>
	<span class="actions">
     <a href="http://www.reviewboard.org/news/">View All News</a>
	 |
     <a href="." id="reload-news">{% trans "Reload" %}</a>
     |
     <a href="feed/news/rss/">
      <img src="{{MEDIA_URL}}rb/images/rss.png?{{MEDIA_SERIAL}}" width="14" height="14" />
      RSS
     </a>
    </span>
   </caption>
   <tbody>
    <tr>
     <td id="news-content">
	  <img src="{{MEDIA_URL}}rb/images/spinner.gif?{{MEDIA_SERIAL}}"
	       class="loading-indicator" width="16" height="16" border="0" alt="" />
	  {% trans "Loading..." %}
	 </td>
    </tr>
   </tbody>
  </table>
 </div>
