{% extends "admin/base_site.html" %}
{% load adminmedia %}
{% load i18n %}
{% load log %}

{% block coltype %}colM{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{MEDIA_URL}}djblets/js/jquery-1.3.2.min.js"></script>
{% endblock %}

{% block content %}
<div class="colMS">
 <div id="content-main">
   {# manage section #}
   {% include "admin/dashboard_manage.html" %}
 </div> {# content-main #}

 <div id="content-related">
  {# "Server Info" section #}
  {% include "admin/dashboard_server_info.html" %}
 </div> {# content-related #}
</div> {# colMS #}

<br class="clear" />
<div class="colM">
 {# "News" section #}
 {% include "admin/dashboard_news.html" %}
</div>
<script language="javascript">
    $(document).ready(function() {
        $("a#reload-news").click(function(evt){
            $("#news-content").load("feed/news/?reload=1");
            evt.preventDefault();
        });

        $("#news-content").load("feed/news/");
    });
</script>
{% endblock %}
